<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.readbook.readbookbackend.mapper.NotificationMapper">
    <insert id="insertNotification" keyProperty="id" useGeneratedKeys="true" keyColumn="notification_id">
        INSERT INTO notification (
            receiver_id,
            status,
            context,
            created_time,
            updated_time
        )
        VALUES (
                   #{receiverId},
                   #{status},
                   #{content},
                   #{createdTime},
                   #{updatedTime}
               )
    </insert>

    <!-- 根据收件人id获取所有通知的SQL语句 -->
    <select id="getNotificationsByReceiverId" resultMap="NotificationResultMap">
        SELECT *
        FROM
            notification
        WHERE
            receiver_id = #{receiverId}
    </select>

    <!-- 结果映射（这里插入操作不需要返回结果，但为了完整示例给出，可根据实际情况调整或删除） -->
    <resultMap id="NotificationResultMap" type="com.readbook.readbookbackend.pojo.Notification">
        <id property="id" column="notification_id"/>
        <result property="receiverId" column="receiver_id"/>
        <result property="status" column="status"/>
        <result property="content" column="context"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>
</mapper>