<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2024, advanceHiyan.
  ~  This work is licensed under a license. For more information, please visit Hiyan525@163.com
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.readbook.readbookbackend.mapper.OrderMapper">

    <resultMap id="OrderInfoResultMap" type="com.readbook.readbookbackend.pojo.OrderInfo">
        <id property="id" column="order_info_id"/>
        <result property="value" column="value"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="payerId" column="payer_id"/>
        <result property="payeeId" column="payee_id"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="insertOrderInfo" keyProperty="id" useGeneratedKeys="true" keyColumn="order_info_id">
        INSERT INTO order_info (value, created_time, updated_time, payer_id, payee_id, status) VALUES (#{value}, #{createdTime}, #{updatedTime}, #{payerId}, #{payeeId}, #{status})
    </insert>

    <update id="setOrderStatusOne">
        UPDATE order_info SET status = 1 WHERE order_info_id = #{orderId}
    </update>

    <update id="updateUpdateTime">
        UPDATE order_info SET updated_time = NOW() WHERE order_info_id = #{orderId}
    </update>

    <!-- @Creator : advanceHiyan -->

    <resultMap id="OneBookResultMap" type="com.readbook.readbookbackend.pojo.OneBook">
        <id property="id" column="book_id"/>
        <result property="title" column="title"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="content" column="content"/>
        <result property="heat" column="heat"/>
        <result property="createdTime" column="created_time"/>
        <result property="updatedTime" column="updated_time"/>
        <result property="creatorId" column="creator_id"/>
        <result property="value" column="value"/>
    </resultMap>

    <select id="getBookListByIdList" resultMap="OneBookResultMap">
        SELECT * FROM book WHERE book_id IN
        <foreach collection="bookIdList" item="bookId" open="(" close=")" separator=",">
            #{bookId}
        </foreach>
    </select>

    <select id="getOrderByUserIdAndOrderId" resultMap="OrderInfoResultMap">
        SELECT * FROM order_info WHERE payer_id = #{userId} AND order_info_id = #{orderId}
    </select>


    <insert id="insertOrderToBook" keyProperty="id" useGeneratedKeys="true" keyColumn="order_book_relationship_id">
        INSERT INTO order_book_relationship (order_info_id, book_id)
        VALUES (#{orderInfoId}, #{bookId})
    </insert>

    <insert id="insertOwnerShip">
        INSERT INTO user_book_ownership_relationship (user_id, book_id)
        VALUES (#{userId}, #{bookId})
    </insert>

    <select id="getBookListByOrderInfoId" resultMap="OneBookResultMap">
        SELECT *
        FROM
            book b
                JOIN order_book_relationship obr ON b.book_id = obr.book_id
        WHERE
            obr.order_info_id = #{orderid}
    </select>

    <select id="getOwnerShipByBookIdAndUserId" resultType="com.readbook.readbookbackend.pojo.UserBookOwner">
        SELECT * FROM user_book_ownership_relationship WHERE book_id = #{bookId} AND user_id = #{userId}
    </select>

    <select id="getBamBookByBookId" resultType="com.readbook.readbookbackend.pojo.BanBook">
        SELECT * FROM ban_books WHERE book_id = #{bookId}
    </select>

</mapper>